# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignorar el archivo .env
/src/main/resources/.env
# Ignorar el archivo pom.xml en la raíz del proyecto
/pom.xml
